.App {
  text-align: center;
}

.wrapper {
  max-width: 900px;
  margin: 0px auto;
}

.superheroes-card {
  margin-bottom: 40px;
  padding: 15px;

  border: 1px solid black;
  border-radius: 15px;
}

.superheroes-name {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: larger;
}

.superheroes-universe,
.superheroes-superpower {
  margin-bottom: 20px;
}

span {
  font-weight: bold;
}